QPushButton#pushButton_4 { border-image: url(:/new/mainwindow/pictures/link_download.png); }
QPushButton#pushButton_14 { border-image: url(:/new/mainwindow/pictures/min_button.png); }
QPushButton#pushButton_max { border-image: url(:/new/mainwindow/pictures/max_button.png); }
QPushButton#pushButton_15 { border-image: url(:/new/mainwindow/pictures/exit_button.png); }
QPushButton#OpenFileBtn { border-image: url(:/new/mainwindow/pictures/openfile.png); }
QPushButton#OpenFileBtn:hover { border-image: url(:/new/mainwindow/pictures/openfile_hover.png); }
QPushButton#OpenFileBtn:pressed { border-image: url(:/new/mainwindow/pictures/openfile_pressed.png); }
QPushButton#pushButton_3 { border-image: url(:/new/mainwindow/pictures/groupdelete.png); }
QPushButton#pushButton_3:hover { border-image: url(:/new/mainwindow/pictures/groupdelete_hover.png); }
QPushButton#pushButton_3:pressed { border-image: url(:/new/mainwindow/pictures/groupdelete_pressed.png); }
QPushButton#pushButton_5 { border-image: url(:/new/mainwindow/pictures/groupdelete.png); }
QPushButton#pushButton_5:hover { border-image: url(:/new/mainwindow/pictures/groupdelete_hover.png); }
QPushButton#pushButton_5:pressed { border-image: url(:/new/mainwindow/pictures/groupdelete_pressed.png); }
QPushButton#pushButton { border-image: url(:/new/mainwindow/pictures/allselect.png); }
QPushButton#pushButton:hover { border-image: url(:/new/mainwindow/pictures/allselect_hover.png); }
QPushButton#pushButton_6 { border-image: url(:/new/mainwindow/pictures/groupshare.png);}
QPushButton#pushButton_6:hover { border-image: url(:/new/mainwindow/pictures/groupshare_hover.png);}
QPushButton#pushButton_6:pressed { border-image: url(:/new/mainwindow/pictures/groupshare_pressed.png);}
QPushButton#pushButton_10 { border-image: url(:/new/mainwindow/pictures/allselect.png); }
QPushButton#pushButton_10:hover { border-image: url(:/new/mainwindow/pictures/allselect_hover.png); }
QPushButton#pushButton_11 { border-image: url(:/new/mainwindow/pictures/allselect.png); }
QPushButton#pushButton_11:hover { border-image: url(:/new/mainwindow/pictures/allselect_hover.png); }
QPushButton#pushButton_7 { border-image: url(:/new/mainwindow/pictures/groupdelete.png); }
QPushButton#pushButton_7:hover { border-image: url(:/new/mainwindow/pictures/groupdelete_hover.png); }
QPushButton#pushButton_7:pressed { border-image: url(:/new/mainwindow/pictures/groupdelete_pressed.png); }

